<% include partials/header %>
    
    <div id="enterdiv" class="container">
        <h1 id="enter">Welcome to Chatroom!</h1>
        <form id="enter" action="/" method="POST">
            <button id="enterchat" class="btn btn-primary">Enter a Chatroom</button>
        </form>
    </div>

<% include partials/footer %>